.article-content {
  min-height: calc(100vh - 360px);
  max-width: 1000px;
  margin: auto;
  padding: 40px 80px;
  font-family: Liu;
}

.article-content p {
  font-size: 22px;
  line-height: 1.9;
  margin: 10px 0 24px 0;
}

.article-content h1 {
  font-size: 28px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.article-content h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}