.article {
  display: flex;
  margin: auto;
  padding: 0 20px;
  max-width: 1150px;
} 

/*
/ Article Content
*/

.article-content {
  display: block;
  min-height: calc(100vh - 580px);
  padding: 60px 40px;
  font-family: Liu;
  width: 100%;
  margin: auto;
}

.article-content p {
  font-family: Liu-Light;
  font-size: 20px;
  line-height: 2em;
  margin: 10px 0 1.5em 0;
}

.article-content h1 {
  font-size: 28px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: var(--red);
}

.article-content h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}

/*
/ Side Nav
*/

.sidenav {
  display: inline-block;
  margin: 40px 20px;
  width: 250px;
}

.sidenav ul {
  list-style-type: none; 
  padding: 20px 16px 200px 16px; 
  margin: 0;
} 

.sidenav li {
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 8px;
  font-weight: bold;
  color: var(--black);
  border-radius: 4px;
}

.sidenav li:hover {
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}

.selected {
  color: var(--white) !important;
  background-color: var(--red);
}