.footer {
  height: 200px;
}

.fa {
  border-radius: 4px;
  padding: 12px;
  margin: 8px 4px 0px 4px;
  font-size: 25px !important;
  width: 25px;
  text-align: center;
  text-decoration: none;
  animation: fade-out 0.2s forwards;
}

.fa:hover {
  animation: fade-in 0.2s forwards;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 200px;
}

.footer-grid-item {
  margin: auto;
}

footer h1 {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}

footer p {
  text-align: center;
  margin-top: 16px;
  font-size: 12px;
  color: #AAA;
  line-height: 0.5;
}

footer hr {
  width: 100px;
  border-color: #AAA;
}