header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  z-index: 2;
  text-align: center;
}

.navbar-logo {
  height: 60px;
  padding: 5px 0 5px 0;
}

.navbar-logo-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  width: 35px;
  height: 35px;
  margin: 15px 40px 15px 40px;
  float: right;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--white);
  display: none;
}

.navbar-toggle:hover{
  opacity: 0.7;
  cursor: pointer;
}

.navbar {
  max-width: 1000px; 
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0;
  z-index: 1;
}

.navbar ul {
  z-index: 1;
  padding-left: 10px;
}

.navbar li {
  display: inline;   
  font-size: 14px;
  font-weight: bold;
}

.navbar li + li::before {
  content: "|";
}

.navbar li a,
.navbar li a:link,
.navbar li a:active {
  padding: 0px 10px;
  text-transform: uppercase;
  color: var(--white);
  font-family: Liu; 
  text-decoration: none;
}

.navbar a {
  white-space: nowrap;   
}

.navbar li a:hover {
  text-decoration: underline;
}

@media (max-width: 950px) {
  .navbar {
    display: block;
    margin: 0;
  }

  .navbar-toggle {
    display: inline;
  }

  .navbar li {
    text-align: right;
    display:  block;
    padding: 0px 35px 20px 0px;
    background-color: var(--light-gray);;
    font-size: 14px;
  }

  .navbar li + li::before {
    content: "";
  }  

  .navbar-logo {
    float: left;
  }

  .navbar ul {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark-gray);
    z-index: -1;
    top: -400px;
    float: right;
  }
}