header {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 2;
  text-align: center;
  background-color: #00000000;
}

.navbar-logo {
  height: 48px;
  padding: 6px 0 6px 0;
  filter: grayscale(1);
}

.navbar-logo:hover {
  filter: grayscale(0);
}

.navbar-logo-wrapper {
  height: 100%;
}

.navbar {
  max-width: calc(100vw - 40px);
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navbar-spacer {
  width: 90vw;
}

.navbar ul {
  margin-right: 20px;
}

.navbar li {
  display: inline;   
  font-size: 14px;
  font-weight: bold;
}

.navbar li + li::before {
  content: "|";
}

.navbar li a,
.navbar li a:link,
.navbar li a:active {
  padding: 0px 12px;
  text-transform: uppercase;
  font-family: Liu; 
  text-decoration: none;
  color: inherit;
}

.navbar a {
  white-space: nowrap;  
}

.navbar li a:hover {
  text-decoration: none;
  color: var(--red);
}

.navbar-toggle {
  width: 35px;
  height: 35px;
  margin: 15px 0px 15px 0px;
  float: right;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

.navbar-toggle:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 950px) {
  .navbar {
    display: block;
    margin: 0;
    z-index: 1;
  }

  .navbar-toggle {
    display: inline;
  }

  .navbar li {
    text-align: right;
    display:  block;
    padding: 0px 0px 20px 20px;
    font-size: 16px;
    text-align: left;
  }

  .navbar li + li::before {
    content: "";
  }  

  .navbar-logo {
    float: left;
    margin-left: 20px;
  }

  .navbar ul {
    position: absolute;
    top: -400px;
    width: 100%;
    padding: 10px 0 0 0 ;
    margin: 0;
    z-index: -1;
    float: right;
    right: 0;
  }
}