.article {
  display: flex;
  margin: auto;
  padding: 50px 20px;
  max-width: 820px;
} 

@media (max-width: 500px) {
  .article {
    display: block;
    padding: 20px 20px;
  }
}

/*
/ Article Content
*/

.article-content {
  display: block;
  min-height: calc(100vh - 530px);
  margin: auto;
  padding: 3px 0px;
}

@media (max-width: 500px) {
  .article-content {
    padding: 20px 10px;
  }
}

.article-content p {
  font-family: Liu-Light;
  font-size: 18px;
  line-height: 1.8em;
  margin: 10px 0 1em 0;
}

.chinese {
  font-size: 17px;
}

.clarification {
  font-size: 16px !important;
}

.article-content h1 {
  font-size: 26px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: var(--red);
}

.article-content h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.article-content a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.article-content a:visited {
  background-color: none;
}
.article-content a:hover {
  text-decoration: underline;
}


/*
/ Side Nav
*/

.sidenav {
  margin: 0px 20px 10px 0px;
  border-radius: 4px;
  min-width: 200px;
}

@media (max-width: 500px) {
  .sidenav {
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
}

.sidenav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
} 

.sidenav li {
  font-size: 16px;
  margin: 0 0 4px 0;
  padding: 8px;
  white-space: nowrap;
  font-weight: bold;
  color: var(--black);
  border-radius: 4px;
}

@media (max-width: 500px) {
  .sidenav li {
    margin: 0 0 4px 0;
    padding: 8px;
  }
}

.sidenav li:hover {
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}

.selected {
  color: var(--white) !important;
  background-color: var(--red);
}