.article {
    max-width: none !important;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: auto;
}

.member {
    background-color: var(--red);
    padding: 16px; 
    width: 360px;
    margin: auto;
    border-radius: 4px;
}

@media (max-width: 500px) {
    .member {
        width: 72vw;
    }
}

.member-flex {
    display: flex;
}

.member-info {
    width: 100%;
    color: var(--white);
}

.member-photo {
    height: 93px;
}

@media (max-width: 500px) {
    .member-photo {
        height: 18.6vw;
    }
}

.member p {
    font-size: 16px !important;
    margin: 20px 0 0 0 !important;
}

@media (max-width: 500px) {
    .member p {
        font-size: 3.2vw !important;
        margin: 4vw 0 0 0 !important;
    }
}

.member h2 {
    font-size: 20px !important;
}

@media (max-width: 500px) {
    .member h2 {
        font-size: 4vw !important;
    }
}

.member h3 {
    font-size: 16px;
    margin: 0px 0 0 0;
}

@media (max-width: 500px) {
    .member h3 {
        font-size: 3.2vw !important;
    }
}

.member img {
    height: 100%;
}

@media (max-width: 1400px) {
    .members {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .members {
        grid-template-columns: 1fr;
    }
}