.frontpage {
  padding-top: 60px;
}

.banner {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

@media (max-width: 950px) {
  .banner {
    height: 42vh;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 100vw;
  }
}

.banner-background {
  height: 100%;
  background-image: url('/assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  filter: saturate(0.7) brightness(1.2) blur(4px);
}

.banner-text {
  text-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
}

.banner-text #top {
  font-size: 50px;
  margin: 0;
}

.banner-text #middle {
  font-size: 75px;
  margin: 0;
}

.banner-text #bottom {
  font-size: 50px;
  margin: 0;
}

@media (max-width: 950px) {
  .banner-text #top {
    font-size: 27px;
  }
  
  .banner-text #middle {
    font-size: 40px;
  }
  
  .banner-text #bottom {
    font-size: 27px;
  }
}


@media (max-width: 500px) {
  .banner-text #top {
    font-size: 5.26vw;
  }
  
  .banner-text #middle {
    font-size: 7.9vw;
  }
  
  .banner-text #bottom {
    font-size: 5.26vw;
  }
}

.banner-button {
  margin-top: 30px;
  border-radius: 40px;
  border: none;
}

.banner-button p {
  padding: 8px 24px 8px 24px;
  margin: 0;
  font-family: Liu;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 950px) {
  .banner-button {
    margin-top: 16px;
  }
  .banner-button p {
    padding: 4.25px 12.75px;
    font-size: 10.5px;
  }
}

.summary-item-container {
  display: inline-flex;
  flex-direction: row;
  max-width: 1100px;
  text-align: left;
}

.reversed {
  flex-direction: row-reverse;
}

@media (max-width: 950px) {
  .summary-item-container, .reversed {
    flex-direction: column;
  }
}

.summary-item {
  padding: 70px;
  text-align: center;
  height: calc(50% - 160px);
}

@media (max-width: 950px) {
  .summary-item {
    padding: 30px 20px;
  }
}

@media (max-width: 500px) {
  .summary-item {
    padding: 6vw 4vw;
  }
}

.summary-image {
  height: 260px;
  margin: auto;
}

.summary-image img {
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 950px) {
  .summary-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .summary-image {
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .summary-image img {
    width: 100%;
    height: auto;
  }
}

.summary-text h1 {
  padding: 0px;
  font-size: 32px;
}

.summary-text p {
  font-size: 20px;
  font-family: Liu-Light;
}

@media (max-width: 950px) {
  .summary-text {
    width: 391px;
    height: 50%;
  }
  .summary-text p, h1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .summary-text h1 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .summary-text {
    width: 87%;
    margin: auto;
  }
  .summary-text p, h1 {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .summary-text p {
    font-size: 4vw;
  }
  .summary-text h1 {
    font-size: 6.4vw;
    margin-top: 2vw;
    margin-top: 5vw;
  }
}

.summary-spacer {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}