.banner {
  height: 900px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 950px) {
  .banner {
    height: 50vh;
  }
}

.banner-background {
  height: 100%;
  background-image: url('/inhysningar/eastasian/assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.8) blur(4px);
}

.banner-text {
  text-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
  text-align: center;
  margin: 0;
}

.banner-text #top {
  font-size: 65px;
  margin: 0;
}

.banner-text #middle {
  font-size: 75px;
  margin: 0;
}

.banner-text #bottom {
  font-size: 35px;
  margin: 0;
}

@media (max-width: 950px) {
  .banner-text #top {
    font-size: 30px;
    margin: 0;
  }
  
  .banner-text #middle {
    font-size: 35px;
    margin: 0;
  }
  
  .banner-text #bottom {
    font-size: 18px;
    margin: 0;
  }
}

.banner-button {
  margin-top: 60px;
  border-radius: 40px;
  border: none;
}

.banner-button p {
  padding: 8px 24px 8px 24px;
  margin: 0;
  font-family: Liu;
  font-weight: bold;
  font-size: 20px;
  text-shadow: none;
}

@media (max-width: 950px) {
  .banner-button {
    margin-top: 20px;
  }
  .banner-button p {
    padding: 6px 16px 6px 16px;
    font-size: 14px;
  }
}

.summary-item-container {
  display: inline-flex;
  flex-direction: row;
  max-width: 1100px;
  text-align: left;
}
@media (max-width: 950px) {
  .summary-item-container {
    flex-direction: column;
  }
}

.summary-item {
  padding: 70px;
  text-align: center;
  height: calc(50% - 160px);
}

@media (max-width: 950px) {
  .summary-item {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .summary-item {
    padding: 6vw;
  }
}

.summary-image {
  display: inline-block;
  height: 260px;
}

.summary-image img {
  height: 100%;
  border-radius: 20px;
  display: block;
}

@media (max-width: 950px) {
  .summary-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .summary-image {
    width: 89%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .summary-image img {
    width: 100%;
    height: auto;
  }
}

.summary-text h1 {
  padding-top: 10px;
  font-size: 32px;
}

.summary-text p {
  font-size: 20px;
  font-family: Liu-Light;
}

@media (max-width: 950px) {
  .summary-text {
    width: 391px;
    height: 50%;
  }
  .summary-text p, h1 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 500px) {
  .summary-text {
    width: 92%;
    margin: auto;
  }
  .summary-text p {
    font-size: 4vw;
  }
  .summary-text h1 {
    font-size: 6.4vw;
  }
}

.summary-spacer {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}