/* Global parameters */

@font-face {
  font-family: 'Liu';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('/assets/fonts/KorolevLiU-Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Liu';
  font-style: normal;
  font-weight: bold;
  src: local(''),
       url('/assets/fonts/KorolevLiU-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Liu-Light';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('/assets/fonts/KorolevLiU-Light.woff2') format('woff2');
}

@keyframes fade-in {
  from { opacity: 1; }
  to { opacity: 0.8; }
}

@keyframes fade-out {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

:root {
  --white: #f7f7f7;
  --red: #911f2a;
  --black: #1A1A1A;
  --gray: #e4e4e4;
  --dark-gray: #b1b1b1;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Liu;
  background-color: var(--white);
  color: var(--black);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
/*
/ Main
*/

.main {
  background-color: var(--light-gray);
  padding-top: 60px;
  display: flex;
  margin: auto;
  padding: 100px 20px 50px 20px;
  max-width: 820px;
}

@media (max-width: 600px) {
  .main {
    display: block;
  }
}

/*
/ Article
*/

article {
  display: block;
  min-height: calc(100vh - 530px);
  padding: 3px 0px;
  width: calc(100% - 12px);
}

@media (max-width: 600px) {
  article {
    padding: 20px 10px;
  }
}

article p {
  font-family: Liu-Light;
  font-size: 18px;
  line-height: 1.8em;
  margin: 10px 0 1em 0;
}

article ul {
  font-family: Liu-Light;
  font-size: 18px;
  margin-bottom: 30px;
}

article li {
  margin-bottom:8px;
}

article h1 {
  font-size: 26px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: var(--red);
}

article h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

article a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-family: Liu;
}

article a:visited {
  background-color: none;
}

article a:hover {
  text-decoration: underline;
}

.chinese {
  font-size: 17px;
}

.clarification {
  font-size: 16px !important;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-wrapper iframe, video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*
/ Side Nav
*/

.sidenav {
  margin: 0px 20px 10px 0px;
  border-radius: 4px;
  min-width: 200px;
}

@media (max-width: 600px) {
  .sidenav {
    width: 100%;
    margin: -20px 0px 0px 0px;
  }
}

.sidenav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
} 

.sidenav li {
  font-size: 16px;
  margin: 0 0 4px 0;
  padding: 8px;
  white-space: nowrap;
  font-weight: bold;
  color: var(--black);
  border-radius: 4px;
}

.sidenav li:hover {
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
}

.selected {
  color: var(--white) !important;
  background-color: var(--red);
}

/* Header */

 header {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 2;
  text-align: center;
}

.navbar {
  max-width: calc(100vw - 20px);
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 950px) {
  .navbar {
    display: block;
    margin: 0;
    z-index: 1;
  }
}

/* Navbar */

.navbar ul {
  margin-right: 20px;
}

@media (max-width: 950px) {
  .navbar ul {
    position: absolute;
    top: -175px;
    width: 100%;
    padding: 10px 0 0 0 ;
    margin: 0;
    right: 0;
    z-index: -1;
  }
}

.navbar li {
  display: inline;   
  padding: 0px 8px;
  font-size: 14px;
  font-weight: bold;
}

.navbar li a,
.navbar li a:link,
.navbar li a:active {
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;  
  color: inherit;
}
@media (max-width: 950px) {
  .navbar li {
    text-align: left;
    display:  block;
    padding: 0px 0px 20px 20px;
  }
}

/* Logo */

.navbar-logo {
  height: 60px;
  filter: grayscale(1);
}

.navbar-logo:hover {
  filter: grayscale(0);
}

.navbar-logo-wrapper {
  height: 100%;
}

@media (max-width: 950px) {
  .navbar-logo {
    float: left;
    margin-left: 8px;
  }
}

/* Toggle Icon */

.navbar-toggle {
  display: none;
}

@media (max-width: 950px) {
  .navbar-toggle {
    display: inline;
    width: 30px;
    margin: 15px 0px 15px 0px;
    float: right;
    padding: 0;
    border: none;
    filter: grayscale();
    background-color: transparent;
  }

  .navbar-toggle:hover {
    filter: none;
    cursor: pointer;
  }
}

.navbar-toggle-icon {
  width: 100%;
  height: auto;
}

/* Footer */

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
  padding: 80px 0 160px 0;
}

@media (max-width: 950px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    padding: 60px 0 60px 0;
  }
}

.footer-grid-item {
  margin: auto;
  height: 140px;
}

@media (max-width: 950px) {
  #Contact {
    padding-top: 40px;
    grid-row: 2;
    grid-column: 1/3;
  }
}

footer h1 {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
}

footer p {
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  line-height: 0.7;
}

footer hr {
  width: 100px;
  margin-bottom: 20px;
  border-color: var(--gray);
}

/* Social Media buttons */

.fa { 
  border-radius: 4px;
  padding: 10px;
  margin: 8px 4px 0px 4px;
  font-size: 25px !important;
  width: 25px;
  text-align: center;
  text-decoration: none;
  animation: fade-out 0.2s forwards;
}

.social-media-button { 
  display: inline-block;
  border-radius: 4px;
  padding: 12px;
  margin: 8px 4px 0px 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  animation: fade-out 0.2s forwards;
}

.social-media-button:hover {
  animation: fade-in 0.2s forwards;
}

/* Color Classes */

.white {
  color: var(--white) !important;
}

.white-bg {
  background-color: var(--white) !important;
}

.red {
  color: var(--red) !important;
}

.red-bg {
  background-color: var(--red) !important;
}

.black {
  color: var(--black) !important;
}

.black-bg {
  background-color: var(--black) !important;
}

.gray {
  color: var(--gray) !important;
}

.gray-bg {
  background-color: var(--gray) !important;
}

b {
  font-family: Liu;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.redOnHover {
  color: var(--black);
}

.redOnHover:hover {
  color: var(--red); 
  cursor: pointer;
}

.fadeOnHover {
  animation: fade-out 0.2s forwards;
}

.fadeOnHover:hover {
  animation: fade-in 0.2s forwards;
  cursor: pointer;
}

.centered {
  margin: 0;
  position: absolute;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}