.banner {
  margin: 0;
  padding: 0;
  height: 900px;
  overflow: hidden;
  position: relative;
}

.banner-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(0.6) blur(4px);
}

.large {
  font-size: 80px !important;
}

.banner p {
  text-shadow: 0px 0px 40px #000, 0px 0px 40px #000;;
  text-align: center;
  margin: 0;
  font-size: 60px;
  font-family: Liu;
}

.banner-button {
  margin-top: 60px;
  border-radius: 40px;
  border: none;
  animation: fade-out 0.2s forwards;
}

.banner-button:hover {
  animation: fade-in 0.2s forwards;
  cursor: pointer;
}

.banner-button p {
  padding: 8px 24px 8px 24px;
  font-family: Liu;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
}

.summary {
  height: auto;
}

.summary-item {
  padding: 70px;
  text-align: center;
  height: calc(50% - 160px);
}

.summary-item-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 1100px;
  text-align: left;
  box-sizing: border-box;
  height: 100%;
}

.summary-image {
  display: inline-block;
  height: 260px;
}

.summary-image img {
  height: 100%;
  border-radius: 20px;
  display: block;
}

.summary-text h1 {
  padding-top: 10px;
  font-size: 32px;
}

.summary-text p {
  font-size: 20px;
  font-weight: normal;
  font-family: Liu-Light;
}

.summary-spacer {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 950px) {
  .banner-title {
    font-size: 8.42vw;
  }
  
  .banner-supertext {
    font-size: 6.32vw;
  }
  
  .banner-subtext {
    font-size: 6.33vw;
  }

  .banner-butt {
    font-size: 4.842vw;
  }

  .summary-item-container {
    flex-direction: column;
  }

  .summary {
    height: auto;
  }

  .summary-item {
    padding: 30px;
  }

  .summary-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .summary-text p, h1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .summary-text {
    width: 391px;
    height: 50%;
  }
}

@media (max-width: 500px) {
  .summary-image {
    width: 92%;
    height: auto;
  }

  .summary-text {
    width: 92%;
  }

  .summary-image img {
    width: 100%;
    height: auto;
  }

  .summary-text p {
    font-size: 4vw;
  }

  .summary-text h1 {
    font-size: 6.4vw;
  }

  .summary-item {
    padding: 6vw;
  }
}