.article-content {
  min-height: 49vh;
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  max-width: 1000px;
  margin: auto;
  padding-top: 100px;
}

.article-content p {
  font-size: 22px;
  line-height: 1.9;
  margin: 10px 0 24px 0;
}

.article-content h1 {
  color: var(--primary-accent-color);
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 400;
  margin-top: 0;
  text-transform: capitalize;
}

.article-content h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 0;
}