#page-content {
  grid-column: 1 / 3;
}

.banner {
  margin: 0;
  padding: 0;
  height: calc(100vh - 76px);
  overflow: hidden;
  position: relative;
}

.banner-background {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: brightness(0.6) blur(4px);
}

.banner p {
  font-family: Liu;
  font-weight: 700;
  font-size: 56px;
  text-shadow: 0 1px 40px #000;
  color: var(--main-text-color);
  text-align: center;
  margin: 0;
}

.banner .large {
  font-size: 96px;
}

button p {
  font-size: 20px;
  font-family: Liu;
  color: var(--primary-accent-color);
  margin: auto;
}

.banner button {
  margin-top: 60px;
  background-color: var(--main-text-color);
  border-radius: 40px;
  border: none;
  background-color: var(--main-text-color);
}

.banner button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.banner button p {
  padding: 8px 24px 8px 24px;
  color: var(--primary-bg-color);
  font-family: Liu;
  font-weight: 700;
  font-size: 20px;
}

.about {
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 76px);
}

.about .item-1 {
  background-color: var(--primary-accent-color);
}

.about .item-2 {
  background-color: var(--primary-bg-color);
}

.about p {
  color: var(--primary-accent-color);
  font-size: 18px;
  line-height: 1.5;
  font-family: Liu;
  text-align: center;
}

.about .grid-item {
  margin: 0;
}

.about .grid-item h1 {
  padding-top: 10px;
  font-size: 20px;
  color: var(--primary-accent-color);
  text-align: center;
}

.about .grid-item p {
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  color: var(--main-text-color);
}

.about-grid-item hr {
  color: var(--main-text-color);
  width: 70%;
}