.banner {
  margin: 0;
  padding: 0;
  height: calc(92vh);
  overflow: hidden;
  position: relative;
}

.banner-background {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.6) blur(4px);
}

.banner-title {
  font-size: 80px;
}

.banner-supertext {
  font-size: 56px;
}

.banner-subtext {
  font-size: 48px;
}

.banner p {
  font-family: Liu;
  font-weight: 700;
  text-shadow: 0 1px 40px #000;
  text-align: center;
  margin: 0;
}

button p {
  font-size: 20px;
  font-family: Liu;
  margin: auto;
}

.banner button {
  margin-top: 60px;
  border-radius: 40px;
  border: none;
  animation: fade-out 0.2s forwards;
}

.banner button:hover {
  animation: fade-in 0.2s forwards;
  cursor: pointer;
}

.banner button p {
  padding: 8px 24px 8px 24px;
  font-family: Liu;
  font-weight: 700;
  font-size: 20px;
}

.summary {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.summary-item {
  padding: 80px 40px;
  text-align: center;
}

.summary-item-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 1250px;
  text-align: left;
  box-sizing: border-box;
}

.summary-image {
  display: inline-block;
  fill: cover;
  height: 260px;
}

.summary-image img {
  height: 100%;
  border-radius: 20px;
  display: block;
}

.summary-text h1 {
  padding-top: 10px;
  font-size: 36px;
  font-weight: 700;
}

.summary-text p {
  font-size: 19px;
}

.summary-spacer {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 850px) {
  .summary-text p {
    font-size: 16px;
  }

  .summary-text h1 {
    font-size: 26px;
  }

  .summary-item-container {
    flex-direction: column;
    max-width: 380px;
  }

  .summary-text {
    margin-bottom: 20px;
  }
}