.banner {
  margin: 0;
  padding: 0;
  height: calc(100vh - 76px);
  overflow: hidden;
  position: relative;
}

.banner-background {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.6) blur(4px);
}

.banner p {
  font-family: Liu;
  font-weight: 700;
  font-size: 56px;
  text-shadow: 0 1px 40px #000;
  text-align: center;
  margin: 0;
}

.banner .large {
  font-size: 96px;
}

button p {
  font-size: 20px;
  font-family: Liu;
  margin: auto;
}

.banner button {
  margin-top: 60px;
  border-radius: 40px;
  border: none;
  animation: fade-out 0.2s forwards;
}

.banner button:hover {
  animation: fade-in 0.2s forwards;
  cursor: pointer;
}

.banner button p {
  padding: 8px 24px 8px 24px;
  font-family: Liu;
  font-weight: 700;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - 76px);
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about img {
  max-height: calc((100vh - 76px) / 3 - 50px);
  border-radius: 12px;
  margin: auto;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  font-family: Liu;
  text-align: center;
}

.about h1 {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.about p {
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
}