header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  z-index: 1;
  text-align: center;
}

.navbar-logo-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  height: 80px;
}

.navbar-logo {
  height: 60px;
  margin: auto;
  padding: 10px 20px 10px 20px;
  float: left;
}

.navbar {
  max-width: 1250px;
  align-items: center;
  margin: auto;
  padding: 0;
}

.navbar ul {
  padding: 0 250px 0 0;
}

.navbar li {
  display: inline;
  padding: 0;
  font-size: 14px;
}

.navbar li + li::before {
  content: "|";
  padding: 0 0.4em 0 0.4em;
  color: var(--white);
}

.navbar a,
.navbar a:link,
.navbar a:active {
  padding: 0 8px;
  text-transform: uppercase;
  color: var(--white);
  font-family: Liu;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

@media (max-width: 1250px) {
  .navbar ul {
    padding-right: 20vw;
  }
}