#logo {
  margin: 0;
  padding: 0;
  border: 0;
  grid-column: 1;
  grid-row: 1;
  height: 80px;
}

header img {
  height: 60px;
  margin: auto;
  padding: 10px 20px 10px 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  z-index: 1;
  background-color: var(--primary-bg-color);
}

header ul {
  margin: auto;
  padding: 0;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

header li {
  display: inline-block;
  padding: 0;
  font-size: 14px;
}

header li + li::before {
  content: "|";
  padding: 0 0.4em 0 0.4em;
  color: var(--main-text-color);
}

header nav {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

header nav a,
header nav a:link,
header nav a:active {
  padding: 0 8px;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-family: Liu;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}