.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  height: 200px;
  margin: auto;
  padding: 40px 0 160px 0;
}

.footer-grid-item {
  margin: auto;
  height: 100px;
}

.fa {
  border-radius: 4px;
  padding: 10px;
  margin: 8px 4px 0px 4px;
  font-size: 25px !important;
  width: 25px;
  text-align: center;
  text-decoration: none;
  animation: fade-out 0.2s forwards;
}

.fa:hover {
  animation: fade-in 0.2s forwards;
}

footer h1 {
  font-size: 18px;
  margin-bottom: 8px;
  text-align: center;
  font-family: Liu;
}

footer p {
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
  line-height: 0.7;
  font-family: Liu;
}

footer hr {
  width: 100px;
  margin-bottom: 20px;
  border-color: var(--gray);
}

@media (max-width: 950px) {
  .footer-grid {
    grid-row: 1fr fr;
    grid-template-columns: 1fr 1fr;
    max-width: 300px;
    padding-top: 60px;
  }

  #Contact {
    padding-top: 70px;
    grid-row: 2;
    grid-column: 1/3;
  }
}
