/*
 * Global parameters
 */

/*:root {
  --main-bg-color: #242424;
  --main-text-color: #f0f0f0;
  --primary-bg-color: #303030;
  --seccondary-bg-color: #3a3a3a;
  --primary-accent-color: #ffac4c;
}*/

@font-face {
  font-family: 'Liu';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('./fonts/KorolevLiU-Medium.woff2') format('woff2'),
       url('./fonts/KorolevLiU-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Liu-Light';
  font-style: normal;
  font-weight: normal;
  src: local(''),
       url('./fonts/KorolevLiU-Light.woff2') format('woff2'),
       url('./fonts/KorolevLiU-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'SentyTang';
  font-style: normal;
  font-weight: bold;
  src: local(''),
       url('./fonts/HanyiSentyTang.woff2') format('woff2'),
       url('./fonts/HanyiSentyTang.ttf') format('ttf');
}


@keyframes fade-in {
  from { opacity: 1; }
  to { opacity: 0.8; }
}

@keyframes fade-out {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

:root {
  --white: #f7f7f7;
  --red: #911f2a;
  --black: #1A1A1A;
  --gray: #e4e4e4;
  --dark-gray: #b1b1b1;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Liu;
  background-color: var(--white);
  color: var(--black);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
.main {
  background-color: var(--light-gray);
  padding-top: 60px;
}

.centered {
  margin: 0;
  position: absolute;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.white {
  color: var(--white) !important;
}

.white-bg {
  background-color: var(--white) !important;
}

.red {
  color: var(--red) !important;
}

.red-bg {
  background-color: var(--red) !important;
}

.black {
  color: var(--black) !important;
}

.black-bg {
  background-color: var(--black) !important;
}

.gray {
  color: var(--gray) !important;
}

.gray-bg {
  background-color: var(--gray) !important;
}

b {
  font-family: Liu;
  font-weight: bold;
}

.redOnHover {
  color: var(--balck);
}

.redOnHover:hover {
  color: var(--red); 
  cursor: pointer;
}