/*
 * Global parameters
 */

/*:root {
  --main-bg-color: #242424;
  --main-text-color: #f0f0f0;
  --primary-bg-color: #303030;
  --seccondary-bg-color: #3a3a3a;
  --primary-accent-color: #ffac4c;
}*/

@font-face {
  font-family: 'Liu';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/KorolevLiU-Medium.woff') format('woff'),
       url('./fonts/KorolevLiU-Medium.ttf') format('ttf');
}

@keyframes fade-in {
  from { opacity: 1; }
  to { opacity: 0.8; }
}

@keyframes fade-out {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

:root {
  --white: #f0f0f0;
  --dark-gray: #272727;
  --light-gray: #323232;
  --red: #bc3131;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--light-gray);
  color: var(--white);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
.main {
  padding-top: 76px;
  background-color: var(--light-gray);
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red {
  color: var(--red);
}

.red-bg {
  background-color: var(--red);
}

.dark-gray {
  color: var(--dark-gray);
}

.dark-gray-bg {
  background-color: var(--dark-gray);
}

.light-gray {
  color: var(--light-gray);
}

.light-gray-bg {
  background-color: var(--light-gray);
}

.white {
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}