/*
 * Global parameters
 */

/*:root {
  --main-bg-color: #242424;
  --main-text-color: #f0f0f0;
  --primary-bg-color: #303030;
  --seccondary-bg-color: #3a3a3a;
  --primary-accent-color: #ffac4c;
}*/

:root {
  --main-bg-color: #242424;
  --main-text-color: #f0f0f0;
  --primary-bg-color: #272727;
  --seccondary-bg-color: #323232;
  --primary-accent-color: #e33535;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  background-color: var(--seccondary-bg-color);
  color: var(--main-text-color);
}

@font-face {
  font-family: Liu;
  src: url(./fonts/KorolevLiU-Medium.woff);
}


mark {
  color: var(--primary-accent-color);
  background-color: transparent;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}
  
.main {
  padding-top: 76px;
  background-color: var(--seccondary-bg-color);
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}